.container-home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-back{
    width: 100vw;
    
}
.info-home{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 20vw;
}
.h1-home{
    color: white;
    font-weight: bold;
    font-family: system-ui;
    font-size: 12vw;
}
.h3-home{
    color: white;
    font-size: 4vw;
    margin-bottom: 40vw;
}
.button-signup{
    color: white;
    width: 35vw;
    padding: 1.5vw 0;
    border-radius: 8px;
    margin-top: 4vw;
    margin-bottom: 6vw;
    background: bottom;
    border: 1px;
    font-size: 4vw;
}

.button-signup:hover{
    border: 1px white solid;
    color: white;
}

@media (min-width: 768px){ 
    .container-home{
        height: 50vh;
    }

    .info-home{
        margin-top: 8vw;
    }
    .h1-home{
        font-size: 8vw;
        margin-bottom: 10vw;
    }
    .h3-home{
        font-size: 4.5vw;
        margin-bottom: 25vw;
    }
    .button-signup{
        color: white;
        width: 15vw;
        padding: 1vw 0;
        border-radius: 8px;
        margin-top: 3vw;
        margin-bottom: 2vw;
        background: bottom;
        border: 1px;
        font-size: 3vw;
    }
    
}

  /*media queries pc*/

  @media (min-width: 1024px){  
    .container-home{
        height: 100vh;
    }

    .info-home{
        margin-top: 8vw;
    }
    .h1-home{
        font-size: 5vw;
        margin-bottom: 4vw;
    }
    .h3-home{
        font-size: 2.5vw;
        margin-bottom: 8vw;
    }
    .button-signup{
        color: white;
        width: 15vw;
        padding: 1vw 0;
        border-radius: 8px;
        margin-top: 2vw;
        margin-bottom: 1vw;
        background: bottom;
        border: 1px;
        font-size: 1.5vw;
    }
   
  }