.absoluteLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageLogin{
    width: 100%;
    height: 1000px;
}
.h2-login{
    color: black;
    margin: 2.5vw;
    font-size: 2vw;
    font-weight: bold;
}
.form-login{
    width: 60vw;
    border-radius: 10px;
    padding: 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(6px);
    box-shadow: -7px 8px 20px 0px black;
}
.label-login{
    width: 100%;
    color: white;
    font-weight: bold;
    margin: 2vw;
}
.input-login{
    width: 100%;
    color: white;
    background: none;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    box-shadow: 0 13px 21px rgba(55, 53, 53, 0.5);
}
.button-login{
    width: 100%;
    margin: 6vw 0 2vw;
    background-color: rgb(0 74 4);
    border: none;
    border-radius: 5px;
    color: white;
    height: 40px;
}
.centerLogin{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url("https://services.meteored.com/img/article/as-plantas-sao-mais-inteligentes-do-que-aquilo-que-pensamos-1674083594437_1024.jpeg");
    height: 100vh;
    align-items: center;
}

@media (min-width: 768px){ 

    .form-login{
        max-width: 400px;
    }
}

  /*media queries pc*/

  @media (min-width: 1024px){  

    .form-login{
        padding: 0 2vw;
    }
    .button-login{
        width: 100%;
        margin: 2vw 0 2vw;
        height: 45px;
    }
    .label-login{
        margin: 1vw 2vw;
    }
  }