.register-body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    background-image: url("https://www.cuerpomente.com/medio/2022/07/03/anemone-g11f64abd5-1920_f2bcf406_1200x1200.jpg");
    background-size: cover;
}
.img-aurora{
    width: 100%;
    height: 900px;
    padding: 0; 
}
.h3-register{
    font-size: 4vw;
    padding: 2vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}
.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    padding: 1vw 2vw 2vw 2vw;
    border-radius: 10px;
    width: 60vw;
    margin: 23vw 0;
    box-shadow: -5px 3px 8px 0px white;
}
.label-register{
    width: 100%;
    color: white;
    margin: 1vw 0;
    display: flex;
    justify-content: flex-start;
    
}
.field-register{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    background: #fdfdfd3b;
    border: none;
    color:white;
}
.button-register{
    margin: 4vw 0 1vw 0;
    background-color: rgb(7 76 46);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 1vh 2vh;
}
.p-error{
    margin: 0;
    color: white;
}
.div-label-field{
    width: 90%;
}

@media (min-width: 768px){ 

    .form-register{
        width: 45vw;
    }    
}

  /*media queries pc*/

  @media (min-width: 1024px){  

    .div-label-field{
        width: 45%;
    }
    .form-register{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 15vw 0 8vw;
        width: 55vw;
        max-width: 750px;
    }
    .label-register{
        margin: 1vw 0;
    }
    .field-register{
        height: 3.5vh;
    }
    .button-register{
        margin-top: 3vw;
        margin-bottom: 0;
        width: 45%;
    }
    .center-register{
        width: 100%;
        display: flex;
        justify-content: center;
    }
  }