.navbar-principal{
    width: 90vw;
    z-index: 5; 
    top: 2vh;
    position: absolute;
    margin: 0 2.5vw;
    height: 9vw;
    background: linear-gradient(45deg, #17936ead, transparent);
    border-radius: 5px;
    box-shadow: 4px 3px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon-title-plant{
    display: flex;
    align-items: center;
}
.plant-principal{
    color: #b4dbb6;
    font-size: 5vw;
    margin-right: 1vh;
}
.h3-principal-plants{
    color: #ffffffcf;
    font-size: 5vw;
    margin: 0;
}
.menu-link{
    color: rgb(1 46 32);
    text-decoration: none;
}
.link-principal-cel{
    display: none;
}
.h4-principal{
    display: none;
}
.h4-principal:hover {
    color: rgb(1 46 32) ;
    transform: scale(1.2);
}

@media (min-width: 768px){ 
    .navbar-principal{
        height: 6vh;
    }
    .plant-principal{
        font-size: 4vh;
    }
    .h3-principal-plants{
        font-size: 4vh;
    }
}

  /*media queries pc*/

  @media (min-width: 1024px){  
    .navbar-principal{
        top: 4vh;
        
    }
    .dropdown{
        display: none;
    }
    .h4-principal{
        display: block;
        color: #ffffffcf;
        font-size: 1.6vh;
        cursor: pointer;
        margin: 0;
    }
    .link-principal-cel {
        display: block;
        text-decoration: none;
    }
    .wraper-ledt-right {
        width: 100vw;
    }    

  }